 @import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
 @media only screen and (min-width:600px) {
    body {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 105%;
        color: #00FFF7;
    }
    .control {
        background-image: url('../img/paper1.jpg');
        background-position: center center;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
        margin: auto;
    }
    #result {
     min-height: 300px;
     border: 4px solid #00FFF7;
     width: 40%;
     height: 35%;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     margin: auto;
 }
 h1{
    position: absolute;
    top: 30%;
    text-align: center;
 }
}
