 @import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
 body {
   font-family: 'Julius Sans One', sans-serif;
   font-size: 160%;
   color: #00FFF7;
   padding: 0;
   margin: 0;

 }
 input {
   font-size: 50%;
 }
 .control {
   width: 100%;
   height: 100%;
   position: absolute;
   background-image: url(../img/paper2.jpg);
   background-size: cover;
 }

 .control-group {
  border: 4px solid #00FFF7;
  width: 493px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 /* background-position: center center;*/
}
ul {
 list-style-type: none;
}
#one,#two,#three,h1,p,ul{
 text-align: center;

}
#one,#two,#three,#next{
 display: inline-block;
 width: 155px;
 /*width: 125px;*/
 color:#00FFF7;
 background-color: transparent;
 border:2px solid  #00FFF7;
}
#emailfield1,#emailfield2,#emailfield3{
  position: absolute;
  background-color: transparent;
  border:2px solid #00FFF7;
  color:#00FFF7;
  left: 40%;
}
