 @import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
     body {
      font-family: 'Julius Sans One', sans-serif;
       font-size: 155%;
       color:#00FFF7;
     }
     input {
       font-size: 50%;
     }
     .control {
      background-image: url('../img/paper1.jpg');

      background-position: center center;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      right: 0;
      top: 0;
      left: 0;
      margin: auto;
    }
    .control-group {
      min-height: 300px;
      border: 4px solid #00FFF7;
      width: 40%;
      height: 35%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
    ul {
     list-style-type: none;
   }
     #one,#two,#three,h1,p,ul{
       text-align: center;

     }
     #one,#two,#three,#next{
       display: inline-block;
       width: 155px;
       /*width: 125px;*/
       color:#00FFF7;
       background-color: transparent;
       border:2px solid  #00FFF7;
     }
     #emailfield1,#emailfield2,#emailfield3{
      position: absolute;
      background-color: transparent;
      border:2px solid #00FFF7;
      color:#00FFF7;
      left: 40%;
    }
