body h3{
  color: red;
}
body h4,h3,ul,.control{
 text-align: center;
}

body ul{
  list-style-type: none;
} 
li:nth-child(2){
  border: 1px solid;
  width: 54px;
  border-radius: 5px;
  background-color: orange;
} 
#content{
  width: 250px;
  margin: 0 auto;
}
li img{
  border: 1px solid;
  border-radius: 5px;
}