  @media only screen and (min-width:800px) and (max-width:1100px){    body{      background-image:url('../img/background_mob4.jpg');       background-size:cover;       background-position:center;       color:white;       font-family:'Oswald',sans-serif;       padding-top:0;       padding-bottom:0;       margin:0 auto;       max-width:750px;       overflow-x:hidden}
    img, 
    .yslugi{      border:1px solid orange;       border-radius:10px;       box-shadow:2px 2px 4px rgba(0,0,0,0.4);       max-width:100%;       margin-bottom:2%;       cursor:pointer}
    .img, 
    label{      cursor:pointer}
    .video{      display:none}
    p{      font-size:160%}
    a{      color:orange;       font-size:200%;       text-decoration:none}
    h1, 
    h3, 
    h2{      color:orange;       font-size:200%}
    .nav{      text-align:center}
    .nav li{      display:inline-block}
    li{      margin-left:5%}
    .l-p, 
    .w-s, 
    .i-m, 
    #google>div:nth-child(even), 
    #ya>div:nth-child(even), 
    .our-project, 
    .adaptivnost, 
    .made{      margin-bottom:10%}
    #studio{      text-align:center;       margin-top:10%}
    #text{      width:70%;       margin-left:20%;       margin-top:3%}
    .start{      margin-left:20%;       margin-bottom:60%;       text-align:left}
    .start:hover>img{      transform:translateY(-540px);       transition:all 1s}
    .start h3{      margin-bottom:16%}
    .start img{      margin-bottom:-14%;       margin-left:-25%}
    .start p{      margin-top:-10%}
    .seo{      margin-left:20%;       margin-top:-66%;       text-align:left}
    .seo h3{      margin-top:-10%}
    .seo img{      margin-top:15%;       margin-left:-25%}
    .seo:hover>img{      transform:scale(1.4);       transition:all 0.4s}
    .support{      margin-left:20%;       margin-top:-2%;       text-align:left}
    .support img{      margin-bottom:-11%;       margin-left:-25%}
    .support:hover>img{      animation:scaling 0.3s linear infinite}
    .yslugi{      max-width:1000px;       margin:0 auto}
    .razrabotkae{      max-width:300px;       margin:0 auto;       margin-top:-15%}
    .tri-napravlenia{      z-index:5;       max-width:250px;       margin:0 auto;       margin-top:-15%}
    .l-p{      position:relative;       text-align:center;       margin-left:-75px;       box-shadow:2px 2px 4px rgba(0,0,0,0.4);       width:100%}
    .fon1{      border:2px solid orange;       width:400px;       height:150px;       background-image:url("../img/l-pe.jpg");       border-radius:10px 10px 0 0}
    .yellow{      width:400px;       height:50px;       border:2px solid;       background:#FF0;       border-radius:0 0 10px 10px;       border:2px solid orange}
    .yellow>p{      display:none}
    .yellow:hover>p{      display:inline;       border:1px solid #FE0000;       width:120px;       color:red;       font-size:200%}
    .l-p:hover>.yellow{      transform-origin:bottom;       transform:scaleY(2);       transition:all 0.4s}
    .l-p:hover h3{      transform:scale(0.5);       transition:all 0.4s}
    .w-s{      position:relative;       text-align:center;       margin-left:-75px;       box-shadow:2px 2px 4px rgba(0,0,0,0.4)}
    .fon2{      border:2px solid orange;       width:400px;       height:150px;       background-image:url("../img/w-sitee.jpg");       border-radius:10px 10px 0 0}
    .blue{      width:400px;       height:50px;       border:2px solid;       background:#6CF;       border-radius:0 0 10px 10px;       border:2px solid orange}
    .blue>p{      display:none}
    .blue:hover>p{      display:inline;       border:1px solid #FE0000;       width:120px;       color:red;       font-size:200%}
    .w-s:hover>.blue{      transform-origin:bottom;       transform:scaleY(2);       transition:all 0.4s}
    .w-s:hover h3{      transform:scale(0.5);       transition:all 0.4s}
    .i-m{      position:relative;       text-align:center;       margin-left:-75px;       float:left;       box-shadow:2px 2px 4px rgba(0,0,0,0.4)}
    .fon3{      border:2px solid orange;       width:400px;       height:150px;       border-radius:10px 10px 0 0;       background-image:url("../img/i-magazin.jpg")}
    .green{      width:400px;       height:50px;       border:2px solid;       border-radius:0 0 10px 10px;       background:#0F0;       border:2px solid orange}
    .green>p{      display:none}
    .green:hover>p{      display:inline;       border:1px solid #FE0000;       width:120px;       color:red;       font-size:200%}
    .i-m:hover>.green{      transform-origin:bottom;       transform:scaleY(2);       transition:all 0.4s}
    .i-m:hover h3{      transform:scale(0.5);       transition:all 0.4s}
    .pervie-v-poiske{      margin:0 auto;       max-width:350px}
    .pervie-v-poiske img{      margin-left:2%}
    .pervie-v-poiske h3{      margin-left:25%}
    #google{      margin:auto;       max-width:122px}
    .fon_g{      border:2px solid orange;       width:100px;       height:104px;       background-image:url("img/google.jpg");       border-radius:10px 10px 0 0}
    .b{      background:#6CF;       height:30px;       width:100px;       border-radius:0 0 10px 10px;       border:2px solid orange}
    .b>p{      display:none}
    .b:hover>p{      display:inline;       border:1px solid #FE0000;       width:120px;       color:red;       font-size:70%}
    #google:hover>.b{      transform-origin:bottom;       transform:scaleY(2.15);       transition:all 0.4s}
    #ya{      margin:0 auto;       max-width:122px}
    .fon_y{      border:2px solid orange;       width:100px;       height:104px;       border-radius:10px 10px 0 0;       background-image:url("img/ya.jpg")}
    .y{      background:#FF0;       height:30px;       width:100px;       border-radius:0 0 10px 10px;       border:2px solid orange}
    .y>p{      display:none}
    .y:hover>p{      display:inline;       border:1px solid #FE0000;       width:120px;       color:red;       font-size:70%}
    #ya:hover>.y{      transform-origin:bottom;       transform:scaleY(2.15);       transition:all 0.4s}
    .slider{      min-width:200px;       min-height:403px;       background-image:url("../img/project-a.jpg");       margin:0 auto;       border:2px solid;       border-radius:20px;       box-shadow:2px 2px 4px rgba(0,0,0,0.4);       border:3px solid orange}
    input#slader1:checked~div{      background-image:url("../img/project-a.jpg")}
    input#slader2:checked~div{      background-image:url("../img/project-b.jpg")}
    input#slader3:checked~div{      background-image:url("../img/project-c.jpg")}
    input#slader4:checked~div{      background-image:url("../img/project-d.jpg")}
 .circle-left, 
 .circle-left1{ width:30px;  height:30px;  border:2px solid orange;  border-radius:15px;  margin:0 auto;  display:inline-block}
 .circle-right, 
 .circle-right1{ width:30px;  height:30px;  border:2px solid orange;  border-radius:15px;  margin:0 auto;  display:inline-block}
 input#slader1, 
 
    input#slader2, 
    input#slader3, 
    input#slader4{      display:none}
    .adaptivnost{      margin-top:5%;       margin-bottom:5%}
    .adaptivnost img{      max-width:100%}
    .adaptivnost p{      margin-left:5%;       text-align:left}
    .adaptivnost h3{      text-align:center}
    .trade{      display:none}
    .yslovie h3{      margin-left:55px}
    .zabota{      display:none;       background:url("img/zabota-2.jpg");  margin-top:120%}
 .zabota p{ text-align:left}
 .zabota h3{ text-align:center}
 .svaz{ margin-top:60%}
 .svaz>img:nth-child(2){ display:none}
 .svaz h3{ text-align:center}
 .gotov{ margin-left:5%;  margin-top:-93%}
 .gotov h3{ text-align:center;  margin-bottom:25%}
 .gotov p{ margin-top:-22%}
 .form{ color:white;  margin-top:12%;  margin-left:2%}
 input[type=text]{ opacity:0.7;  border:3px solid orange}
 input[name=stroka]{ width:150px;  margin-bottom:-5px}
 input[name=stroka_1]{ width:150px;  margin-left:-3px;  margin-bottom:-5px}
 input[name=stroka_2]{ width:305px;  margin-bottom:-5px}
 textarea[name=pole]{ opacity:0.7;  margin-top:3px;  border:3px solid orange;  width:300px}
 input[type=submit]{ background:orange;  position:relative;  top:5px;  right:5px}
 .made{ margin-top:17%;  margin-left:5%;  font-size:100%}
 }
 
 @keyframes scaling{ 0%{ transform:scale(1,1)}
 100%{ transform:scale(1.1,1.1)}
 }
 