    @media only screen and (max-width:450px){        body{            background-image:url('../img/background_mob4.jpg');             background-size:cover;             background-position:center;             color:white;             font-family:'Oswald',sans-serif;             font-family:'Oswald',sans-serif;             margin:0 auto;             max-width:450px}
        .video{            display:none}
        img, 
        .yslugi{            border:1px solid orange;             border-radius:10px;             box-shadow:2px 2px 4px rgba(0,0,0,0.4);             max-width:100%;             cursor:pointer}
        .img, 
        label{            cursor:pointer}
        p{            font-size:120%}
        a{            color:orange;             font-size:160%}
        h1, 
        h3, 
        h2{            color:orange;             font-size:200%}
        .nav{            text-align:center}
        .nav li{            display:block}
        #studio, 
        #text, 
        .start, 
        .seo, 
        .support, 
        .adaptivnost, 
        .trade, 
        .tri_yslovia, 
        .zabota, 
        .pervie-v-poiske{            display:none}
        .l-p, 
        .w-s, 
        .i-m, 
        #google>div:nth-child(even), 
        #ya>div:nth-child(even), 
        .our-project, 
        .adaptivnost, 
        .made{            margin-bottom:10%}
        .yslugi{            max-width:350px;             margin:0 auto}
        .razrabotkae{            margin-top:-10%}
        .tri-napravlenia{            text-align:center;             top:20px;             left:0px;             position:relative;             margin-top:-20%}
        .l-p{            box-shadow:2px 2px 4px rgba(0,0,0,0.4);             max-width:100%}
        .fon1{            border:2px solid orange;             width:200px;             height:150px;             background-image:url("../img/l-pe.jpg");             border-radius:10px 10px 0 0;             width:100%}
        .yellow{            height:50px;             border:2px solid;             background:#FF0;             border-radius:0 0 10px 10px;             width:100%;             border:2px solid orange}
        .yellow>p{            display:none}
        .yellow:hover>p{            display:inline;             border:1px solid #FE0000;             width:120px;             color:red;             font-size:90%}
        .l-p:hover>.yellow{            transform-origin:bottom;             transform:scaleY(2);             transition:all 0.4s}
        .l-p:hover h3{            transform:scale(0.5);             transition:all 0.4s}
        .w-s{            position:relative;             box-shadow:2px 2px 4px rgba(0,0,0,0.4);             max-width:63%}
        .fon2{            border:2px solid orange;             width:160%;             height:150px;             background-image:url("../img/w-sitee.jpg");             border-radius:10px 10px 0 0}
        .blue{            width:160%;             height:50px;             border:2px solid;             background:#6CF;             border-radius:0 0 10px 10px;             border:2px solid orange}
        .blue>p{            display:none}
        .blue:hover>p{            display:inline;             border:1px solid #FE0000;             width:120px;             color:red;             font-size:90%}
        .w-s:hover>.blue{            transform-origin:bottom;             transform:scaleY(2);             transition:all 0.4s}
        .w-s:hover h3{            transform:scale(0.5);             transition:all 0.4s}
        .i-m{            position:relative;             box-shadow:2px 2px 4px rgba(0,0,0,0.4);             max-width:100%}
        .fon3{            border:2px solid orange;             height:150px;             border-radius:10px 10px 0 0;             background-image:url("../img/i-magazin.jpg")}
        .green{            height:50px;             border:2px solid;             border-radius:0 0 10px 10px;             background:#0F0;             border:2px solid orange}
        .green>p{            display:none}
        .green:hover>p{            display:inline;             border:1px solid #FE0000;             width:120px;             color:red;             font-size:90%}
        .i-m:hover>.green{            transform-origin:bottom;             transform:scaleY(2);             transition:all 0.4s}
        .i-m:hover h3{            transform:scale(0.5);             transition:all 0.4s}
        #google{            margin:0 auto;             max-width:122px}
        .fon_g{            border:2px solid orange;             width:100px;             height:104px;             background-image:url("img/google.jpg");             border-radius:10px 10px 0 0}
        .b{            background:#6CF;             height:30px;             width:100px;             border-radius:0 0 10px 10px;             border:2px solid orange}
        .b>p{            display:none}
        .b:hover>p{            display:inline;             border:1px solid #FE0000;             width:120px;             color:red;             font-size:70%}
        #google:hover>.b{            transform-origin:bottom;             transform:scaleY(2.15);             transition:all 0.4s}
        .fon_y{            border:2px solid orange;             width:100px;             height:104px;             border-radius:10px 10px 0 0;             background-image:url("img/ya.jpg")}
        .y{            background:#FF0;             height:30px;             width:100px;             border-radius:0 0 10px 10px;             border:2px solid orange}
        .y>p{            display:none}
        .y:hover>p{            display:inline;             border:1px solid #FE0000;             width:120px;             color:red;             font-size:70%}
        #ya{            margin:0 auto;             max-width:122px}
        #ya:hover>.y{            transform-origin:bottom;             transform:scaleY(2.15);             transition:all 0.4s}
        .slider{            min-width:200px;             min-height:300px;             background-image:url("../img/project-a.jpg");             margin:0 auto;             border:2px solid;             border-radius:20px;             box-shadow:2px 2px 4px rgba(0,0,0,0.4);             border:3px solid orange}
        input#slader1:checked~div{            background-image:url("../img/project-a.jpg")}
        input#slader2:checked~div{            background-image:url("../img/project-b.jpg")}
        input#slader3:checked~div{            background-image:url("../img/project-c.jpg")}
        input#slader4:checked~div{            background-image:url("../img/project-d.jpg")}
 .circle-left, 
 .circle-left1{ width:30px;  height:30px;  border:2px solid orange;  border-radius:10px;  margin:0 auto;  display:inline-block}
 .circle-right, 
 .circle-right1{ width:30px;  height:30px;  border:2px solid orange;  border-radius:10px;  margin:0 auto;  display:inline-block}
 input#slader1, 
 input#slader2, 
 input#slader3, 
 input#slader4{ display:none}
 .svaz>img:nth-child(2){ display:none}
 .svaz>img{ min-height:350px}
 .svaz h3{ text-align:left;  margin-left:10%}
 .gotov{ margin-left:5%;  margin-top:-95%}
 .gotov h3{ display:none}
 .gotov p{ display:none}
 .form{ color:white;  margin-top:32%;  margin-left:8%;  min-width:70%}
 input[type=text]{ opacity:0.7;  border:3px solid orange}
 input[name=stroka]{ width:90%;  margin-bottom:-5px}
 input[name=stroka_1]{ width:90%;  margin-bottom:-5px}
 input[name=stroka_2]{ width:90%;  margin-bottom:-5px}
 textarea[name=pole]{ opacity:0.7;  margin-top:3px;  border:3px solid orange;  width:89%}
 input[type=submit]{ background:orange;  position:relative;  top:5px;  right:5px}
 .made{ margin-top:25%;  margin-left:5%;  font-size:100%}
 }
 
 