<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Inline Editor</title>
    <style>
      h1 {
        color: red;
      }
      p:before {
        content: '✎';
        display: inline-block;
        margin-right: 5px;
        font-weight: normal;
        vertical-align: text-bottom;
      }
    </style>
  </head>
  <body>
    <div class="fooBar" ng-controller="inlineEditorController" ng-click="hideTooltip()">
      <h1>Inline Editor</h1>
      <!-- IF NG-SHOW  = TRUE - THAN SHOW THIS DIV -->
      <div class="tooltip" ng-click="$event.stopPropagation()" ng-show="showtooltip">
        <form ng-submit="toggleTooltip($event)"><input type="text" ng-model="value" /></form>
      </div>
      <p ng-click="toggleTooltip($event)">{{ value }}</p>
    </div>
    <script src="bundle.js" charset="utf-8"></script>
  </body>
</html>
