@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: url(http://www.lettersmarket.com/uploads/lettersmarket/demo/background_gradient_basic/background_gradient_gray_09/background_gradient_gray_09_jpg_max.jpg);
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
}
.conteiner_today,
.conteiner_date,
.conteiner_Range {
    margin-top: 2%;
    width: 100%;
}

.conteiner {
    width: 25%;
    height: 73%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    min-width: 250px;
}

.conteiner_newClass{
    width: 25%;
    height: 73%;
    position: absolute;
    top: 0;
    right: 30%;
    margin: auto;
    min-width: 250px;
}

input[type="submit"],
input[type="button"] {
    width: 100%;
    height: 7%;
    color: black;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input.button1:hover {
    border: 3px solid #3CADDE;
}

label,
input,
select {
    border-width: 2px;
    border-style: outset;
    border-color: #EFEFEF;
    border-image: initial;
}

#select,
#select_range {
    margin-top: 5%;
    width: 100%;
    height: 13%;
    color: black;
    font-size: 20px;
}

.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    width: 97%;
}

#select:hover,
#select_range:hover
 {
    border: 3px solid #3CADDE;
}

#res,
#result {
   background-color: #FDFFAF;
}

h2 {
    margin-bottom: -5%;
}

#diagram {
   width: 100%;
    height: 72%;
    margin-left: -27%;
    margin-top: 14%;
}

label {
    background-color: #fff;
    display: block;
    margin-top: -6%;
    margin-bottom: -5%;
    border: 1px solid;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    border-width: 2px;
    border-style: outset;
    border-color: #EFEFEF;
    border-image: initial;
}
label.button1:after {
    content: "\f155";
    font-family: FontAwesome;
    color: #000;
    margin-left: 10px;
}

label.button2:after {
    content: "\f153";
    font-family: FontAwesome;
    color: #000;
    margin-left: 10px;
}

label.button3:after {
    content: "\f158";
    font-family: FontAwesome;
    color: #000;
    margin-left: 10px;
}

#diagram_bar {
    position: absolute;
    top: 5%;
    left: 110%;
}


#diagram_line {
    position: absolute;
    top: 65%;
    left: 110%;
}
#diagram_bar.chartjs-render-monitor {
    display: block;
    width: 300px;
    height: 250px;
}
#diagram_lineюchartjs-render-monitor {

   display: block;
    width: 300px;
    height: 250px;
}
