<div class="app">
  <p id="list1" ng-click="addElem(value)">{{ lists.add }}</p>
  <p id="list2" ng-click="clearAll()">{{ lists.delete }}</p>
 
</div>
<div>
    <h2>You've got <span class="emphasis">{{getTotalTodos()}}</span> things to do</h2>
</h1>
<div>
  <form ng-submit="addElem(value)"><input id="answerInput" type="text" ng-model="value" /></form>
  <div class="aswer">
    <hr />
    <ul>
      <!-- track by $index для добавления повторного элемента -->
      <li ng-repeat="title in tasks track by $index">
        {{ title }}<button ng-click="deleteElem()">x</button>
      </li>
    </ul>
  </div>
</div>
