 @import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
    @media only screen and (min-width:600px) {
        body {
         font-family: 'Permanent Marker', cursive;
            font-size: 135%;
        }
         .control {
            background-image: url('../img/paper.jpg');
            background-position: center center;
            background-size: cover;
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            right: 0;
            top: 0;
            left: 0;
            margin: auto;
        }
        #result {
          width: 20%;
            height: 35%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
               }
    }
    @media only screen and (max-width:599px) {
        body {

            font-family: 'Permanent Marker', cursive;
            font-size: 70%;
        }
        .control {
            background-image: url('../img/paper3.jpg');
            background-position: center center;
            background-size: cover;
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            right: 0;
            top: 0;
            left: 0;
            margin: auto;

        }
        #result {

            width: 20%;
            height: 35%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    }