#content div {
  margin-top: 20px;
}
.container {
  position: relative;
  height: 500px;
  overflow: hidden;
}
input[type="text"] {
  margin-left: 3px;
}
.show p {
  font-size: 15px;
}

input,
.showBox,
.show,
.off{
 border: 1px solid;
}


input[value='add'] {
  width: 50px;
}
input[value='clear'] {
  width: 223px;
  margin-left: 3px;
  margin-right: 3px;
}
input[type="text"] {
  float: left;
}
.showBox{
 height: 21px;
 margin: 10px auto;
 width: 125px;
}
.show,
.off {
  width: 230px;
  background-color: #ccc;
  position: absolute;
  top: 50px;
  left: 5px;
  height: 250px;
  transition: 3s linear all;
}
.off {
  left: -500px;
 }
ul li {
  list-style-type: none;
}
